$mainColor: #F6947D;
$transitionTime: 0.5s;

* {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

html,
body,
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #F6947D 0%, #F37F96 100%);
}

// 注册盒子样式
.register-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba($color: #898989, $alpha: 0.5);
    overflow: hidden;

    // 注册盒子背景图
    .register-bg {
        width: 35%;
        height: 100%;
        background: url("../images/background.jpg") no-repeat center center;
        background-size: cover;
    }

    // 注册块样式
    .register-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65%;

        // 注册标题样式
        .register-title {
            font-weight: 100;
            font-size: 32px;
            letter-spacing: 8px;
            color: $mainColor;
        }

        // 注册表单样式
        .register-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            // 输入框样式
            input {
                width: 60%;
                height: 50px;
                padding: 0px 20px;
                color: black;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid $mainColor;
                margin-bottom: 16px;
            }

            // 获取验证码块样式
            .code-pane {
                display: flex;
                position: relative;
                width: calc(60% + 40px);

                // 验证码输入框样式
                .code {
                    width: calc(100% - 120px);
                    padding-right: 120px;
                    background: white url("../images/message.png") no-repeat;
                    background-size: 32px;
                    background-position: 570px center;
                }

                // 验证码按钮样式
                .code-button {
                    display: block;
                    position: absolute;
                    padding: 0;
                    right: 0px;
                    width: 120px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: color $transitionTime;

                    &:hover {
                        color: $mainColor;
                    }

                    &:disabled {
                        color: rgb(200, 200, 200);
                        cursor: not-allowed;
                    }
                }
            }

            // 注册按钮样式
            .register-button {
                padding: 0;
                width: 60%;
                color: white;
                background-image: linear-gradient(90deg, #F6947D 0%, #F37F96 100%);
                border: 1px solid $mainColor;
                border-radius: 4px;
                cursor: pointer;
                transition: opacity $transitionTime;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        // 链接块样式
        .link {
            display: flex;
            justify-content: space-between;
            width: 60%;

            a {
                color: black;
                transition: color $transitionTime;

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}